body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: hsl(25, 35%, 83%); /* Suppose to look like light orange I guess :( */
    color: #b26e16;
}

h1 {
    color: #b26e16;
}

p {
    line-height: 1.6;
}